<div class="vh-100">
  <form action="">
    <div class="mb-3">
      <label for="text" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="blog.title"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        rows="10"
        [(ngModel)]="blog.content"
        name="content"
      ></textarea>
    </div>
    <button class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>
