<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center"
>
  <form action="" class="w-75 h-75">
    <h1 *ngIf="!id">Create Blog</h1>
    <h1 *ngIf="id">Edit Blog</h1>
    <div class="mb-3">
      <label for="text" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="blog.title"
      />
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Summary</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="blog.summary"
      />
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control"
        id="content"
        rows="10"
        [(ngModel)]="blog.content"
        name="content"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Upload Profile Pic</label>
      <input
        type="file"
        id="image"
        name="profilePic"
        class="form-control"
        (change)="changeProfile($event)"
      />
    </div>
    <button class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>
