<div class="d-flex flex-column align-items-center">
  <div class="w-75 position-relative">
    <div class="w-100 h-auto mt-3 position-relative">
      <div class="resolution rounded-3"></div>
      <div
        class="btn btn-primary rounded-circle position-absolute pos-ele"
        routerLink="/user/form/"
      >
        <i class="fa-solid fa-plus"></i>
      </div>
      <img [src]="user.banner" alt="" class="banner-img rounded-3 w-100" />
    </div>
    <div class="position-absolute profile-banner d-flex align-items-start">
      <img
        [src]="user.profilePic"
        alt=""
        class="rounded-circle profile-pic border border-5"
      />
      <div class="ms-3">
        <h5 class="text-white">{{ user.name }}</h5>
        <span class="text-white">{{ user.location }}</span>
      </div>
    </div>
  </div>
  <div class="mt-5 pt-3 w-75 position-relative" style="height: 600px">
    <h2 class="">Posts</h2>
    <input
      type="text "
      placeholder="Search Blogs"
      class="form-control mt-4"
      [(ngModel)]="search"
    />
    <div class="mt-3 bg-info rounded-3 float-end">
      <button class="btn btn-info" (click)="prevPage()">
        <i class="fa-solid fa-caret-left text-white"></i>
      </button>

      <span class="btn btn-info text-white fw-semibold">{{ page }}</span>
      <button class="btn btn-info" (click)="nextPage()">
        <i class="fa-solid fa-caret-right text-white"></i>
      </button>
    </div>
    <div class="container-fluid">
      <div
        *ngIf="blogs.length === 0"
        class="w-100 bg-white rounded-3 d-flex align-items-center justify-content-center"
        style="height: 300px"
      >
        <span>You havent Posted Anything</span>
      </div>
      <ul
        class="list-group mt-3 h-100 w-100 float-start"
        *ngFor="let a of current | filter: search"
      >
        <li
          class="list-group-item border-0 d-flex justify-content-between align-items-center mb-1"
          [routerLink]="'/user/blog/' + a._id"
        >
          <h3 class="fs-6 fw-semibold">{{ a.title }}</h3>
          <div>
            <button
              class="btn btn-info text-white z"
              [routerLink]="'/user/form/' + a.id"
            >
              Edit
            </button>
            <h2 class="d-inline fw-light">|</h2>
            <button
              class="btn btn-danger text-white z"
              (click)="delete(a.id); $event.stopPropagation()"
            >
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-danger m-5" (click)="logOut()">Logout</button>
</div>
