<!-- <nav class="navbar navbar-expand bg-light">
  <div class="container py-2">
    <h1 class="navbar-brand fs-2 fw-bold text-danger">Logo</h1>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-3 text-danger" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3 text-danger" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3 text-danger" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-3 text-danger" href="#"
            ><i class="fa-solid fa-circle-user fs-4"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!--Home Component-->

<!-- <div class="set-height">
  <img
    src="https://images.unsplash.com/photo-1607603750909-408e193868c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt=""
    class="img"
  />
  <div class="h-100 w-100 bg-dark resolution"></div>
  <div class="container text-light">
    <div class="title d-flex justify-content-center flex-column">
      <span class="fs-1 fw-bold lh-sm"
        >Everthing You Need to Know About Cars</span
      >
      <span class="fs-6 mt-2"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum fugit
        corporis velit ab minima natus rem maiores nihil at eaque!
      </span>
      <div>
        <button class="btn btn-danger mt-3">Learn More</button>
      </div>
    </div>
  </div>
</div> -->

<!-- Blogs Card Component-->

<!-- <div class="container my-5">
  <h2 class="py-3 text-center">BLOGS</h2>
  <div class="m-3 row">
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
    <app-card class="col-4"></app-card>
  </div>
  <div class="w-100 d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div> -->

<!-- Footer Component-->

<!-- <div class="w-100 bg-danger">
  <div class="container pb-5">
    <div class="pt-4 row">
      <span class="text-light fs-2 mx-5 col-1">Logo</span>
      <ul class="mx-5 text-light list-group col-1">
        <li class="list-group-item py-1">Home</li>
        <li class="list-group-item py-1">About</li>
        <li class="list-group-item py-1">Create</li>
      </ul>
      <div class="text-light col-3">
        <span class="fs-4 text-light d-block my-2">Contact Us</span>
        <span class="d-block my-2">2709 Gary Rd,Rocky Mt,Nebraska,27803.</span>
        <span class="d-block my-2">(252) 972-9022</span>
        <span class="d-block my-2">email@gmail.com</span>
      </div>
    </div>
  </div>
  <div
    class="container-fluid footer-color text-light text-center d-flex justify-content-between align-items-center"
  >
    <span> @copyright </span>
    <div class="fs-4">
      <i class="fa-brands fa-facebook-square mx-1"></i>
      <i class="fa-brands fa-twitter-square mx-1"></i>
      <i class="fa-brands fa-linkedin mx-1"></i>
      <i class="fa-brands fa-instagram-square mx-1"></i>
    </div>
  </div>
</div> -->

<router-outlet> </router-outlet>
